@import "tailwindcss";
@config "../../../config/tailwind.config.js";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@layer base {
  html {
    font-size: 16px;
  }

  body {
    background-color: #0D1117;
    color: #C9D1D9;
  }
}