<div class="grid grid-cols-8 gap-6">

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Background</h2>
      <div class="space-y-2">
        <div class="bg-background-100 text-background-content p-4 rounded">100</div>
        <div class="bg-background-200 text-background-content p-4 rounded">200</div>
        <div class="bg-background-400 text-background-content p-4 rounded">400</div>
        <div class="bg-background-600 text-background-content p-4 rounded">600</div>
        <div class="bg-background-border_on_default text-background-content p-4 rounded">border_on_default</div>
        <div class="bg-background-border_on_soft text-background-content p-4 rounded">border_on_soft</div>
        <div class="bg-background-border_on_surface text-background-content p-4 rounded">border_on_surface</div>
        <div class="bg-background-bright_overlay text-background-content p-4 rounded">bright_overlay</div>
        <div class="bg-background-darker text-background-content p-4 rounded">darker</div>
        <div class="bg-background text-background-content p-4 rounded">DEFAULT</div>
        <div class="bg-background-dimmed text-background-content p-4 rounded">dimmed</div>
        <div class="bg-background-overlay text-background-content p-4 rounded">overlay</div>
        <div class="bg-background-soft text-background-content p-4 rounded">soft</div>
        <div class="bg-background-surface text-background-content p-4 rounded">surface</div>
        <div class="bg-background-raised text-background-content p-4 rounded">raised</div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Danger</h2>
      <div class="space-y-2">
        <div class="bg-danger-100 text-danger-content p-4 rounded">100</div>
        <div class="bg-danger-200 text-danger-content p-4 rounded">200</div>
        <div class="bg-danger-400 text-danger-content p-4 rounded">400</div>
        <div class="bg-danger-800 text-danger-content p-4 rounded">800</div>
        <div class="bg-danger-950 text-danger-content p-4 rounded">950</div>
        <div class="bg-danger text-danger-content p-4 rounded">DEFAULT</div>
        <div class="bg-danger-disabled text-danger-content p-4 rounded">disabled</div>
        <div class="bg-danger-focus text-danger-content p-4 rounded">focus</div>
        <div class="bg-danger-hover text-danger-content p-4 rounded">hover</div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Info</h2>
      <div class="space-y-2">
        <div class="bg-info-100 text-info-content p-4 rounded">100</div>
        <div class="bg-info-200 text-info-content p-4 rounded">200</div>
        <div class="bg-info-400 text-info-content p-4 rounded">400</div>
        <div class="bg-info-800 text-info-content p-4 rounded">800</div>
        <div class="bg-info-950 text-info-content p-4 rounded">950</div>
        <div class="bg-info text-info-content p-4 rounded">DEFAULT</div>
        <div class="bg-info-disabled text-info-content p-4 rounded">disabled</div>
        <div class="bg-info-focus text-info-content p-4 rounded">focus</div>
        <div class="bg-info-hover text-info-content p-4 rounded">hover</div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Primary</h2>
      <div class="space-y-2">
        <div class="bg-primary-100 text-primary-content p-4 rounded">100</div>
        <div class="bg-primary-200 text-primary-content p-4 rounded">200</div>
        <div class="bg-primary-400 text-primary-content p-4 rounded">400</div>
        <div class="bg-primary-800 text-primary-content p-4 rounded">800</div>
        <div class="bg-primary-950 text-primary-content p-4 rounded">950</div>
        <div class="bg-primary text-primary-content p-4 rounded">DEFAULT</div>
        <div class="bg-primary-disabled text-primary-content p-4 rounded">disabled</div>
        <div class="bg-primary-focus text-primary-content p-4 rounded">focus</div>
        <div class="bg-primary-hover text-primary-content p-4 rounded">hover</div>
       </div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Secondary</h2>
      <div class="space-y-2">
        <div class="bg-secondary-100 text-secondary-content p-4 rounded">100</div>
        <div class="bg-secondary-200 text-secondary-content p-4 rounded">200</div>
        <div class="bg-secondary-400 text-secondary-content p-4 rounded">400</div>
        <div class="bg-secondary-800 text-secondary-content p-4 rounded">800</div>
        <div class="bg-secondary-950 text-secondary-content p-4 rounded">950</div>
        <div class="bg-secondary text-secondary-content p-4 rounded">DEFAULT</div>
        <div class="bg-secondary-disabled text-secondary-content p-4 rounded">disabled</div>
        <div class="bg-secondary-focus text-secondary-content p-4 rounded">focus</div>
        <div class="bg-secondary-hover text-secondary-content p-4 rounded">hover</div>
      </div>
    </div> 

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Success</h2>
      <div class="space-y-2">
        <div class="bg-success-100 text-success-content p-4 rounded">100</div>
        <div class="bg-success-200 text-success-content p-4 rounded">200</div>
        <div class="bg-success-400 text-success-content p-4 rounded">400</div>
        <div class="bg-success-800 text-success-content p-4 rounded">800</div>
        <div class="bg-success-950 text-success-content p-4 rounded">950</div>
        <div class="bg-success text-success-content p-4 rounded">DEFAULT</div>
        <div class="bg-success-disabled text-success-content p-4 rounded">disabled</div>
        <div class="bg-success-focus text-success-content p-4 rounded">focus</div>
        <div class="bg-success-hover text-success-content p-4 rounded">hover</div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Text</h2>
      <div class="space-y-2">
        <div class="bg-text-100 p-4 rounded">100</div>
        <div class="bg-text-200 p-4 rounded">200</div>
        <div class="bg-text-300 p-4 rounded">300</div>
        <div class="bg-text-dark p-4 rounded">dark</div>
        <div class="bg-text p-4 rounded">DEFAULT</div>
        <div class="bg-text-disabled p-4 rounded">disabled</div>
        <div class="bg-text-link p-4 rounded">link</div>
        <div class="bg-text-muted p-4 rounded">muted</div>
        <div class="bg-text-secondary p-4 rounded">secondary</div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Warning</h2>
      <div class="space-y-2">
        <div class="bg-warning-100 text-warning-content p-4 rounded">100</div>
        <div class="bg-warning-200 text-warning-content p-4 rounded">200</div>
        <div class="bg-warning-400 text-warning-content p-4 rounded">400</div>
        <div class="bg-warning-800 text-warning-content p-4 rounded">800</div>
        <div class="bg-warning-950 text-warning-content p-4 rounded">950</div>
        <div class="bg-warning text-warning-content p-4 rounded">DEFAULT</div>
        <div class="bg-warning-disabled text-warning-content p-4 rounded">disabled</div>
        <div class="bg-warning-focus text-warning-content p-4 rounded">focus</div>
        <div class="bg-warning-hover text-warning-content p-4 rounded">hover</div>
      </div>
    </div>

</div>