<div class="grid grid-cols-9 gap-4">

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Background</h2>
      <div class="space-y-2">
        <div class="bg-background text-background-content p-4 rounded">DEFAULT</div>
        <div class="bg-background-emphasis text-background-content p-4 rounded">emphasis</div>
        <div class="bg-background-overlay text-background-content p-4 rounded">overlay</div>
        <div class="bg-background-raised text-background-content p-4 rounded">raised</div>
        <div class="bg-background-soft text-background-content p-4 rounded">soft</div>
        <div class="bg-background-surface text-background-content p-4 rounded">surface</div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Danger</h2>
      <div class="space-y-2">
        <div class="bg-danger-800 text-danger-content p-4 rounded">800</div>
        <div class="bg-danger-950 text-danger-content p-4 rounded">950</div>
        <div class="bg-danger-active text-danger-content p-4 rounded">active</div>
        <div class="bg-danger text-danger-content p-4 rounded">DEFAULT</div>
        <div class="bg-danger-disabled text-danger-content p-4 rounded">disabled</div>
        <div class="bg-danger-focus text-danger-content p-4 rounded">focus</div>
        <div class="bg-danger-hover text-danger-content p-4 rounded">hover</div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Info</h2>
      <div class="space-y-2">
        <div class="bg-info-800 text-info-content p-4 rounded">800</div>
        <div class="bg-info-950 text-info-content p-4 rounded">950</div>
        <div class="bg-info-active text-info-content p-4 rounded">active</div>
        <div class="bg-info text-info-content p-4 rounded">DEFAULT</div>
        <div class="bg-info-disabled text-info-content p-4 rounded">disabled</div>
        <div class="bg-info-focus text-info-content p-4 rounded">focus</div>
        <div class="bg-info-hover text-info-content p-4 rounded">hover</div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Neutral</h2>
      <div class="space-y-2">
        <div class="bg-neutral-600 text-neutral-content p-4 rounded">600</div>
        <div class="bg-neutral-700 text-neutral-content p-4 rounded">700</div>
        <div class="bg-neutral-800 text-neutral-content p-4 rounded">800</div>
        <div class="bg-neutral-900 text-neutral-content p-4 rounded">900</div>
        <div class="bg-neutral text-neutral-content p-4 rounded">DEFAULT</div>
        <div class="bg-neutral-disabled text-neutral-content p-4 rounded">disabled</div>
        <div class="bg-neutral-focus text-neutral-content p-4 rounded">focus</div>
        <div class="bg-neutral-hover text-neutral-content p-4 rounded">hover</div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Primary</h2>
      <div class="space-y-2">
        <div class="bg-primary-800 text-primary-content p-4 rounded">800</div>
        <div class="bg-primary-950 text-primary-content p-4 rounded">950</div>
        <div class="bg-primary-active text-primary-content p-4 rounded">active</div>
        <div class="bg-primary text-primary-content p-4 rounded">DEFAULT</div>
        <div class="bg-primary-disabled text-primary-content p-4 rounded">disabled</div>
        <div class="bg-primary-focus text-primary-content p-4 rounded">focus</div>
        <div class="bg-primary-hover text-primary-content p-4 rounded">hover</div>
       </div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Secondary</h2>
      <div class="space-y-2">
        <div class="bg-secondary-800 text-secondary-content p-4 rounded">800</div>
        <div class="bg-secondary-950 text-secondary-content p-4 rounded">950</div>
        <div class="bg-secondary-active text-secondary-content p-4 rounded">active</div>
        <div class="bg-secondary text-secondary-content p-4 rounded">DEFAULT</div>
        <div class="bg-secondary-disabled text-secondary-content p-4 rounded">disabled</div>
        <div class="bg-secondary-focus text-secondary-content p-4 rounded">focus</div>
        <div class="bg-secondary-hover text-secondary-content p-4 rounded">hover</div>
      </div>
    </div> 

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Success</h2>
      <div class="space-y-2">
        <div class="bg-success-800 text-success-content p-4 rounded">800</div>
        <div class="bg-success-950 text-success-content p-4 rounded">950</div>
        <div class="bg-success-active text-success-content p-4 rounded">active</div>
        <div class="bg-success text-success-content p-4 rounded">DEFAULT</div>
        <div class="bg-success-disabled text-success-content p-4 rounded">disabled</div>
        <div class="bg-success-focus text-success-content p-4 rounded">focus</div>
        <div class="bg-success-hover text-success-content p-4 rounded">hover</div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Text</h2>
      <div class="space-y-2">
        <div class="bg-text-dark p-4 rounded">dark</div>
        <div class="bg-text p-4 rounded">DEFAULT</div>
        <div class="bg-text-link p-4 rounded">link</div>
      </div>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2 text-center">Warning</h2>
      <div class="space-y-2">
        <div class="bg-warning-800 text-warning-content p-4 rounded">800</div>
        <div class="bg-warning-950 text-warning-content p-4 rounded">950</div>
        <div class="bg-warning-active text-warning-content p-4 rounded">active</div>
        <div class="bg-warning text-warning-content p-4 rounded">DEFAULT</div>
        <div class="bg-warning-disabled text-warning-content p-4 rounded">disabled</div>
        <div class="bg-warning-focus text-warning-content p-4 rounded">focus</div>
        <div class="bg-warning-hover text-warning-content p-4 rounded">hover</div>
      </div>
    </div>

</div>